.modal-image img {
    width: 100%;
    height: auto;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  .dropdown-toggle::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    margin-left: 5px;
  }
  
  .dropdown-toggle[aria-expanded="true"]::before {
    transform: rotate(180deg);
  }
  
  .table-responsive {
    overflow-x: auto;
  }
  
  .btn-lihat-bukti {
    margin-right: 5px;
  }
  